<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

		<!-- Configure the data source bean -->
		<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/tienda"/>
		
		<bean id="eclipseLinkJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
			<property name="showSql" value="true" />
		</bean>
		
		<!-- Configure the entity manager factory bean -->
		<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	   		<property name="dataSource" ref="dataSource"/>
	   		<property name="jpaVendorAdapter" ref="eclipseLinkJpaVendorAdapter"/>
	   		<property name="jpaProperties">
			     <props>
			       <prop key="eclipselink.logging.level">FINE</prop>
			       <prop key="eclipselink.weaving">false</prop>
			     </props>
	   		</property>
		    <property name="packagesToScan" value="tech.tarragona.spring.model"/>
		</bean>
	
		<!-- Configure the transaction manager bean -->
		 <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	   		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	 	</bean>
	
		 <!-- Enable annotation driven transaction management -->
		 <tx:annotation-driven/>
	
		 <jpa:repositories base-package="tech.tarragona.spring.repository" />
</beans>
